.DS_Store
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.lol
*.out
*.toc
*.bak
*.lyx~
*.lyx#
*.synctex.gz
*/temp/*
*-474.lyx
*.acn
*.acr
*.alg
*.bcf
*.glg
*.glo
*.gls
*.glsdefs
*.mw
*.pdf
*.run.xml
*.slg
*.thesis.ist
*.loc
