*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.mw
*.out
*.run.xml
*.slo
*.soc
*.syg
*.syi
*.synctex.gz
*.toc
thesis.glg
thesis.gls
thesis.ist
thesis.loc
thesis.pdf
thesis.slg
